<app-nav-bar class="home-nav" title="Add Tricount" [backUrl]="backUrl">
  <!-- Bouton save -->
  <button mat-icon-button type="submit" form="addTricountForm"
        [disabled]="form.invalid || form.pending"
        matTooltip="Save tricount" matTooltipClass="tooltip-save-tricount">
    <mat-icon>save</mat-icon>
  </button>
</app-nav-bar>

<div class="add-content">
  <div class="container">

    <form [formGroup]="form" (ngSubmit)="saveTricount()" id="addTricountForm" novalidate>

      <!-- Title -->
      <mat-form-field class="full-width text-field" appearance="outline">
        <mat-label>Title</mat-label>
        <input matInput [formControl]="ctlTitle" required appSetFocus>
        
        @if (ctlTitle.hasError('required')) {
          <mat-error class="field-error">required</mat-error>
        }
        @if (ctlTitle.hasError('minlength')) {
          <mat-error class="field-error">minimum {{ ctlTitle.errors?.['minlength']?.requiredLength }} characters</mat-error>
        }
        @if (ctlTitle.hasError('titleUsed')) {
          <mat-error class="field-error">not availabe</mat-error>
        }
      </mat-form-field>

      <!-- Description -->
      <mat-form-field class="full-width text-field" appearance="outline">
        <mat-label>Description</mat-label>
        <textarea matInput rows="1" [formControl]="ctlDescription"></textarea>

        @if (ctlDescription.hasError('minlength')) {
          <mat-error class="field-error">minimum {{ ctlDescription.errors?.['minlength']?.requiredLength }} characters</mat-error>
        }
      </mat-form-field>

      <!-- Participants -->
      <h2 class="section-title">Participants</h2>

      <!-- Lignes des participants -->
      @for (participant of participants; track participant.id) {
        <div class="participant-line">
          <div class="left">
            <mat-icon> {{ participant.id === currentUser.id ? 'account_circle' : 'person' }} </mat-icon>
            <span class="name" [class.creator]="participant.id === currentUser.id"> {{ participant.fullName }} </span>
          </div>

          <button mat-icon-button type="button" (click)="removeParticipant(participant)" [disabled]="participant.id === currentUser.id">
            <mat-icon>person_remove</mat-icon>
          </button>
        </div>
      }

      <!-- Select new participant -->
      @if (!isUsersLoading) {
        @if (availableUsers.length > 0) {
          <div class="participant-add-row">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Add a new participant</mat-label>
              <mat-select [formControl]="ctlNewParticipant">
                @for (user of availableUsers; track user.id) {
                  <mat-option [value]="user.id"> {{ user.fullName }} </mat-option>
                }
              </mat-select>
            </mat-form-field>

            <button mat-icon-button type="button" (click)="addParticipant()" [disabled]="!ctlNewParticipant.value">
              <mat-icon>person_add</mat-icon>
            </button>
          </div>
        }
      }

    </form>

  </div>
</div>
